.Main{
    float: left;
    margin:30px;   
    margin-top: 40px; 
}
.Card{
    border: 1px solid black;
    width: 300px;
    height: auto;
    margin-top: 20px;
    text-align: center;
    background-color:  #cccccc;
   
}
.card-img, img{
    margin-top: 20px;
    width: 80%;
    height: 250px;
}

h1{
    text-align: center;
    font-size: 30px;
}
.random{
    text-align: center;
    color: blue;
    font-style: italic;
}
.description{
    font-size: 15px;
    color: rgb(104, 0, 0);
}
h2{
    text-align: center;
}